/* Universal Selector */
* {
    margin:0;
    padding:0;  
  }

  /* Element Selectors */
header{
    height: 50px;
    background-color:cadetblue;
    
    border-bottom: 10px solid #DDAF94;
    width: 100%;  
}

.header-link-text{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    text-decoration: none;
}

body
{
}

main{
    ;

}


ul{
    text-align: right;
}

li{
    display: inline;
    padding: 20px;
    
    top: 15px;
}

figure {
    margin-bottom: 40px;
  }

img {
    display: block;
    margin: 20px auto;
}

section {
    margin-bottom: 0;
    padding: 20px 10px 40px 10px;
    border-top: 3px solid #DDAF94;
    background-color:  #DDAF94;
  }

form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 500px;
    padding: 10px;
    border: 5px solid cadetblue;
    border-radius: 20px;
  }
  label {
    display: inline-block;
    width: 100px;
  }
  
 input, 
textarea {
  box-sizing: border-box;
  width: 350px;
  border: 1px solid #4F4846;
}

textarea {
  vertical-align: top;
  height: 60px;
}

button {
    height: 40px;
    width: 120px;
    background-color: #4F4846;
    color: #FDF8F5;
  }
  
footer{
    height: 50px;
    background-color:beige;
    background-color:  cadetblue;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/* Class Selectors */
.main-heading{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
.a-pos  {
    position: relative;
}

.li-pos{
    position: relative;
}
.footer-text{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 15px;
}

.text-right{
    text-align: right;
}

.text-center
{
    text-align: center;
}